@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
  font-family: 'Inter', sans-serif;
  background-color: #8ecae6;
  margin: 0%;
  padding: 0%;
}

.form-feild{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-left: 30%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.58);
  max-width: max-content;
  padding: 3em;
  background-color: #73bfdc;
  border-radius: 0.9em;
}
.form-feild label{
  font-size: 1.5em;
  color: #212529;
  font-weight: bolder;
  cursor: pointer;
}
.form-input input{
  display: flex;
  align-items: center;
  margin: 1em;
  font-size: 1.8em;
  padding: 0.2em 0.5em 0.2em 0.5em ;
  border-radius: 0.5em;
  cursor: pointer;
  background-color: #8ecae6;
  border: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.58);
}
#img{
  display: none;
}
label:nth-child(4){
  padding: 0.5em 4.5em 0.5em 4.5em;
  border-radius: 0.5em;
  margin-top: 2em;
  margin-bottom: 1.5em;
  transition: all 0.2s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.58);
  border: hidden;
}
.form-btn{
  background-color: #73bfdc;
  margin-top: 1.5em;
  font-size: 2em;
  padding: 0.3em 4em 0.3em 4em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.2s;
  border: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.58);
  color: #212529;

}
.nav_heading{
  margin: 0;
}
.nav_bar{
  background-color: #8ecae6;
  text-align: center;
  padding: 2em;
}
